$project_name Changelog
======================

{% for fragment in fragments -%}
{{ fragment.date }} :
    {{ fragment.type }}: {{ fragment.action }}
    {{ fragment.description | indent(4)}}

{% endfor %}
